body {
    background-color: green;
}

.bg-box {
    content: "";
    display: block;
    background-image: url(../images/egik.webp), url(../images/ponchik.png), url(../images/green-png-44873.png), url(../images/lamp-png-34914.png), url(../images/pole-zelen-trava-dom-derevya.webp);
    width: 1900px;
    height: 800px;
    background-repeat: repeat-y, repeat-y, repeat-x, repeat-x, no-repeat;
    background-position: left, right, bottom, top, center;
    background-size: 60px, 60px, 60px 550px, 60px, 550px;
}