
.bg-box {
    content: "";
    background-color: green;
    background-image: url(../images/green-png-44873.png), url(../images/lamp-png-34914.png), url(../images/egik.webp), url(../images/ponchik.png), url(../images/pole-zelen-trava-dom-derevya.webp);
    width: 1200px;
    height: 600px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, no-repeat;
    background-position: bottom, top, left, right, center;
    background-size: 120px, 40px, 40px, 40px, 500px;
}